.addClientBtn {
	border:solid 1px #ccc;
	margin-left:10px;
}
.addClientBtn:hover {
	background: #eee;
}
.nofiles {
	height: 200px;
}
.nofiles > p {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;

}
.files-card:hover .uploadBtn{
	margin-bottom: 0px;
}
.uploadBtn {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding:10px;
	width: 100%;
	background: rgba(0,0,0,.5);
	margin-bottom: -200px;
	transition: .3s;
}
.showAllClientsLink {
	font-size: 13px;

}
.saImage {
	min-height: 150px;
}