.addClientBtn {
	border:solid 1px #ccc;
	margin-left:10px;
}
.addClientBtn:hover {
	background: #eee;
}
.nofiles {
	height: 200px;
}
.nofiles > p {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;

}